@import '../../../shared/Variables.scss';

.gui {
  .high-contrast-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
  }

  .top-left-corner-cont {
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    pointer-events: none;
    //transform: translateY(-50%);
    transform-origin: top left;
  }

  .top-right-corner-cont {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    pointer-events: none;
    //transform: translateY(-50%);
    transform-origin: top right;
  }
}

.gui-icon {
    width: 34px;
    height: 34px;
    padding: 4px;
    pointer-events: auto;
    user-select: none;

    &.interactive {
      &:hover {
          -webkit-filter: brightness(150%);
          filter: brightness(150%);
          transform: scale(1.2);
      }
    }
}

.generic-tooltip {
    color: $colourDB32White;
    text-align: center;
    background-color: $colourDB32VeryDarkPurple;
    line-height: 1.2;
    padding: 8px;
    z-index: 1000;

    &.top {
      position: absolute;
      top: 0;
    }

    &.left {
      position: absolute;
      margin-top: 20px;
      margin-left: 40px;
      width: 400px;
    }

    &.right {
      position: absolute;
      margin-top: 20px;
      margin-right: 40px;
      width: 400px;
      right: 0px;
    }

    .bottom {
      transform: translateY(-100%);
    }
}

.inventory-tooltip {
  position: absolute;
  width: 50%;
  bottom: 50px;
  right: 50%;
  transform: translateX(50%);
  margin-bottom: 30px;
}
