@import "../../../../../shared/Variables";

.stats-panel {
    background-color: $colourDB32IronGreyOpacity80;

    .grid-cont {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-top: 6px;

        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            margin: 24px;

            .stat-cont {
                position: relative;
                background-color: $colourDB32SteelGrey;
                border: 4px solid $colourDB32VeryDarkPurple;
                margin: 5%;
                
                .name {
                    color: white;
                    font-size: 1rem;
                    position: absolute;
                    left: 50%;
                    top: -10px;
                    transform: translateX(-50%);
                    
                    &.border {
                        -webkit-text-stroke: 6px $colourDB32VeryDarkPurple;
                    }
                }
        
                .margin {
                    margin: 6px;
                }
        
                .level-cont {
                    display: flex;
                    align-items: center;
                    padding-top: 4px;
            
                    .icon {
                        width: 64px;
                    }
        
                    .level {
                        color: white;
                        font-size: 24px;
                        font-weight: bold;
                        text-align: center;
                        width: 100%;
                        -webkit-text-stroke: 2px black;
                    }
                }
        
                .remaining {
                    color: white;
                    font-size: 1rem;
                    text-align: center;
                    font-weight: bold;
                    -webkit-text-stroke: 1.5px $colourDB32VeryDarkPurple;
                    padding: 4px;
                    background-color: $colourDB32WhiteOpacity50;
                    border: 1px solid $colourDB32SteelGreyOpacity50;
                }
        
                &:hover {
                    -webkit-filter: brightness(120%);
                    filter: brightness(120%);
                    transform: scale(1.1);
                }
            }
        }
    }

    .info-cont {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        text-align: center;
        background-color: $colourDB32SteelGrey;
        border: 8px solid $colourDB32VeryDarkPurple;
        -webkit-text-stroke: 0;
        color: $colourDB32VeryDarkPurple;
        padding: 12px;

        .name {
            font-size: 2rem;
            margin-bottom: 8px;
        }

        .description {
            font-size: 1rem;
            font-weight: normal;
        }

        .level {
            font-size: 2rem;
            margin: 16px;
        }

        .exp {
            font-size: 1.2rem;
            margin: 8px;
        }

        .close {
            font-size: 1rem;
            color: $colourDB32Grey;
            margin-top: 18px;
            font-weight: normal;
        }
    }
}