@import "../../../../../shared/Variables";

.inventory-panel {
    background-color: $colourDB32SteelGreyOpacity80;

    .inner-cont {
        display: grid;
        grid-template-rows: auto 1fr;
        height: 100%;

        .top-bar {
            height: 50px;
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            color: black;
            background-color: $colourDB32IronGreyOpacity80;
            border-bottom: 8px solid $colourDB32VeryDarkPurple;

            .weight {
                font-size: 14px;
                margin-left: 40px;

                img {
                    margin-top: 4px;
                }

                span {
                    margin-left: 10px;
                    text-align: left;
                }
            }

            .search {
                justify-self: right;
                margin-left: 10px;
                margin-right: 40px;
                height: 50%;

                input {
                    width: 100%;
                    height: 100%;
                    letter-spacing: 0.1em;
                    font-family: 'Press Start 2P', cursive;
                    border: #fff solid 1px;
                    padding-left: 14px;
                }
            }
        }

        .list {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            overflow-y: auto;
            margin: 10px;

            .item-slot {
                position: relative;
                
                .details {
                    position: relative;
                    width: 64px;
                    height: 64px;
                    background-color: $colourDB32IronGreyOpacity50;
                    border: 4px solid $colourDB32VeryDarkPurpleOpacity80;
                    margin: 4px;

                    &:hover {
                        transform: scale(1.1);
                        filter: brightness(150%);
                    }
        
                    img {
                        width: 100%;
                        height: 100%;
                    }

                    div {
                        position: absolute;
                        text-align: right;
                        right: 0;
                        bottom: 0;
                        font-size: 18px;
                    }
                    
                    .small {
                        font-size: 14px;
                    }
                }

                .in-hotbar {
                    background-color: $colourDB32LightblueOpacity50;
                }
            }

            .warning {
                color: $colourDB32DarkGrey;
                width: 100%;
                font-size: 1.2rem;
                text-align: center;
            }
        }
    }

    .item-options {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        .info {
            position: absolute;
            background-color: $colourDB32VeryDarkPurpleOpacity80;
            color: white;
            padding: 16px;
            margin: 8px;
            display: flex;
            align-content: space-between;
            justify-content:right;
            flex-direction: column;
            text-align: center;
            min-width: 250px;

            .name {
                font-weight: bold;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            .description {
                font-size: 0.8em;
            }

            .detail {
                font-weight: bold;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
            
            &.top {
                top: -100px;

                &.left {
                    left: 140px;
                }

                &.right {
                    right: 140px
                }
            }
            
            &.bottom {
                bottom: -100px;

                &.left {
                    left: 140px;
                }

                &.right {
                    right: 140px
                }
            }
        }
        
        .buttons {
            position: absolute;
            background-color: $colourDB32VeryDarkPurpleOpacity80;
            color: $colourDB32VeryDarkPurple;
            width: 280px;

            .button {
                padding: 16px;
                margin: 8px;
                user-select: none;

                &:hover {
                    filter: brightness(120%);
                }

                &.options-equip {
                    background-color: $colourDB32Blurple;
                }
    
                &.options-add-hotbar {
                    background-color: $colourDB32LightBlue;
                }

                &.options-remove-hotbar {
                    background-color: $colourDB32LightTan;
                }

                &.options-full-hotbar {
                    background-color: $colourDB32GreyOpacity50;
                    color: $colourDB32SteelGrey;
                    filter: brightness(100%);
                }
    
                &.options-drop {
                    background-color: $colourDB32Orange;
                }
            }

            .input-bar {
                display: inline-flex;
                
                .clear {
                    padding: 8px;
                    background-color: $colourDB32Red;
                    color: white;
                    font-size: 2rem;
                }

                input {
                    font-size: 2rem;
                    width: 80%;
                    height: 20px;
                    letter-spacing: 0.1em;
                    font-family: 'Press Start 2P', cursive;
                    border: #fff solid 1px;
                    text-align: center;
                }
            }

            .number-buttons {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                .number-button {
                    padding-top: 16px;
                    padding-bottom: 16px;
                    margin: 8px;
                    text-align: center;
                    user-select: none;
                    
                    &:hover {
                        filter: brightness(120%);
                    }
    
                    &.options-add-1 {
                        background-color: $colourDB32LimeGreen;
                    }
    
                    &.options-add-10 {
                        background-color: $colourDB32Green;
                    }
    
                    &.options-add-100 {
                        background-color: green;
                    }
    
                    &.options-remove-1 {
                        background-color: $colourDB32LightTan;
                    }
    
                    &.options-remove-10 {
                        background-color: $colourDB32DarkTan;
                    }
    
                    &.options-remove-100 {
                        background-color: $colourDB32Orange;
                    }
                }
            }
        }
    }
}