@import "../../../../../shared/Variables";

.inventory-panel {
    background-color: $colourDB32SteelGreyOpacity80;

    .inner-cont {
        display: grid;
        grid-template-rows: auto 1fr;
        height: 100%;

        .top-bar {
            height: 50px;
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            color: black;
            background-color: $colourDB32IronGreyOpacity80;
            border-bottom: 8px solid $colourDB32VeryDarkPurple;

            .weight {
                font-size: 14px;
                margin-left: 40px;

                img {
                    margin-top: 4px;
                }

                span {
                    margin-left: 10px;
                    text-align: left;
                }
            }

            .search {
                justify-self: right;
                margin-left: 10px;
                margin-right: 40px;
                height: 50%;

                input {
                    width: 100%;
                    height: 100%;
                    // font-size: 1.5vw;
                    // font-weight: bold;
                    letter-spacing: 0.1em;
                    font-family: 'Press Start 2P', cursive;
                    border: #fff solid 1px;
                    padding-left: 14px;
                }
            }
        }

        .list {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            overflow-y: auto;
            margin: 10px;

            .item-slot {
                position: relative;
                
                .details {
                    position: relative;
                    width: 64px;
                    height: 64px;
                    background-color: $colourDB32IronGreyOpacity80;
                    border: 4px solid $colourDB32VeryDarkPurpleOpacity80;
                    margin: 4px;
        
                    img {
                        width: 100%;
                        height: 100%;
                    }

                    div {
                        position: absolute;
                        text-align: right;
                        right: 0;
                        bottom: 0;
                        font-size: 18px;
                    }
                    
                    .small {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}