# PROJECT
.DS_STORE
.idea
node_modules

# CLIENT
client/node_modules
client/.pnp
client/.pnp.js
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/.eslintcache
client/build
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/src/catalogues/
client/src/assets/maps/
client/src/assets/maps/
client/src/assets/images/entities/pickups/
client/src/assets/images/game-atlas.json
client/src/assets/images/game-atlas.png
client/src/assets/images/ground.png
client/src/assets/images/statics.png

# SERVER
server/node_modules
server/settings.yml
server/PlayerDataDump.json
server/test.js
server/map/leaflet-map
