.idea/
node_modules/
.env

client/node_modules/
client/main.css
client/main.css.map
client/dist/
client/assets/map/
client/assets/img/game-atlas.json
client/assets/img/game-atlas.png
client/assets/img/ground.png
client/assets/img/statics.png
client/src/catalogues/

server/node_modules/
server/PlayerDataDump.json
server/test.js