localhost, dungeonz.io, test.dungeonz.io

root * ./client/build
file_server

@websockets {
	header Connection *Upgrade*
	header Upgrade    websocket
}
reverse_proxy @websockets localhost:4567
reverse_proxy /map/* localhost:4567