[Unit]
Description=Dungeonz NodeJS Game Server

[Service]
ExecStart=/usr/bin/node /home/dungeonz/server/index.js
Restart=no
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/dungeonz/server

[Install]
WantedBy=multi-user.target
