@import "../../../../../shared/Variables";

.bank-panel {
    background-color: $colourDB32SteelGreyOpacity80;

    .inner-cont {
        display: grid;
        grid-template-rows: auto auto minmax(0, 1fr);
        height: 100%;

        .top-bar {
            height: 50px;
            display: grid;
            align-items: center;
            justify-items: center;
            color: black;
            background-color: $colourDB32IronGreyOpacity80;
            border-bottom: 8px solid $colourDB32VeryDarkPurple;

            .search {
                margin-left: 10px;
                margin-right: 10px;
                height: 50%;

                input {
                    width: 100%;
                    height: 100%;
                    letter-spacing: 0.1em;
                    font-family: 'Press Start 2P', cursive;
                    border: #fff solid 1px;
                    padding-left: 14px;
                    padding-right: 14px;
                }
            }
        }

        .headers {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .header {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $colourDB32GreyOpacity50;
                border-bottom: solid 8px $colourDB32VeryDarkPurple;
                padding: 4px;
                
                .col-name {
                    position: absolute;
                    font-size: 1.2rem;
                    text-align: center;
                    top: -14px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .weight {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                                        
                    span {
                        font-size: 1.4rem;
                        margin-top: 8px;
                        margin-left: 6px;
                        margin-right: 6px;
                        text-align: center;

                        &.highlight {
                            color: $colourDB32LimeGreen;
                            transform: scale(1.1);
                            filter: brightness(150%);
                        }
                    }

                    .no-space {
                        color: $colourDB32Orange;
                    }
                }

                .icon {
                    height: 32px;

                    &.button {

                        &:hover {
                            transform: scale(1.2);
                            filter: brightness(150%);
                        }
                    }
                }
            }

            .inventory {
                border-right: solid 8px $colourDB32VeryDarkPurple;
            }

            .storage {
                border-left: solid 8px $colourDB32VeryDarkPurple;
            }
        }

        .cols {
            display: grid;
            grid-template-columns: 1fr 1fr;
            
            .list {
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                overflow-y: auto;
                padding: 4px;
                height: auto;

                &.highlight {
                    .item-slot {
                        .details {
                            background-color: $colourDB32CyanOpacity50;
                            filter: brightness(120%);
                        }
                    }
                }

                .item-slot {
                    position: relative;
                    
                    .details {
                        position: relative;
                        width: 64px;
                        height: 64px;
                        background-color: $colourDB32IronGreyOpacity50;
                        border: 4px solid $colourDB32VeryDarkPurpleOpacity80;
                        margin: 4px;
    
                        &:hover {
                            transform: scale(1.1);
                            filter: brightness(150%);
                        }
            
                        img {
                            width: 100%;
                            height: 100%;
                        }
    
                        div {
                            position: absolute;
                            text-align: right;
                            right: 0;
                            bottom: 0;
                            font-size: 18px;
                        }
                        
                        .small {
                            font-size: 14px;
                        }
                    }
    
                    .in-hotbar {
                        background-color: $colourDB32LightBlueOpacity50;
                    }
                }
    
                .warning {
                    color: $colourDB32DarkGrey;
                    width: 100%;
                    font-size: 1.2rem;
                    text-align: center;
                }
            }

            .inventory {
                border-right: solid 8px $colourDB32VeryDarkPurple;
            }

            .storage {
                border-left: solid 8px $colourDB32VeryDarkPurple;
            }
        }
    }

    .item-options {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        .info {
            position: absolute;
            background-color: $colourDB32VeryDarkPurpleOpacity80;
            color: white;
            padding: 16px;
            margin: 8px;
            display: flex;
            align-content: space-between;
            justify-content:right;
            flex-direction: column;
            text-align: center;
            min-width: 250px;

            .name {
                font-weight: bold;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            .description {
                font-size: 0.8em;
            }

            .detail {
                font-weight: bold;
                padding-bottom: 10px;
                margin-bottom: 10px;

                &.no-space {
                    color: $colourDB32Orange;
                }
            }
            
            &.top {
                top: -100px;

                &.left {
                    left: 140px;
                }

                &.right {
                    right: 140px
                }
            }
            
            &.bottom {
                bottom: -100px;

                &.left {
                    left: 140px;
                }

                &.right {
                    right: 140px
                }
            }
        }
        
        .buttons {
            position: absolute;
            background-color: $colourDB32VeryDarkPurpleOpacity80;
            color: $colourDB32VeryDarkPurple;
            width: 280px;

            .button {
                padding: 16px;
                margin: 8px;
                user-select: none;

                &:hover {
                    filter: brightness(120%);
                }

                &.options-transfer {
                    background-color: $colourDB32Blurple;
                }

                &.options-no-space {
                    background-color: $colourDB32GreyOpacity50;
                    color: $colourDB32SteelGrey;
                    filter: brightness(100%);
                }
            }

            .input-bar {
                display: inline-flex;
                
                .clear {
                    padding: 8px;
                    background-color: $colourDB32Red;
                    color: white;
                    font-size: 2rem;
                }

                input {
                    font-size: 2rem;
                    width: 80%;
                    height: 20px;
                    letter-spacing: 0.1em;
                    font-family: 'Press Start 2P', cursive;
                    border: #fff solid 1px;
                    text-align: center;
                }
            }

            .number-buttons {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                .number-button {
                    padding-top: 16px;
                    padding-bottom: 16px;
                    margin: 8px;
                    text-align: center;
                    user-select: none;
                    
                    &:hover {
                        filter: brightness(120%);
                    }
    
                    &.options-add-1 {
                        background-color: $colourDB32LimeGreen;
                    }
    
                    &.options-add-10 {
                        background-color: $colourDB32Green;
                    }
    
                    &.options-add-100 {
                        background-color: green;
                    }
    
                    &.options-remove-1 {
                        background-color: $colourDB32LightTan;
                    }
    
                    &.options-remove-10 {
                        background-color: $colourDB32DarkTan;
                    }
    
                    &.options-remove-100 {
                        background-color: $colourDB32Orange;
                    }
                }
            }
        }

        .upgrade {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $colourDB32VeryDarkPurpleOpacity80;
            padding: 14px;
            width: 280px;

            .cost {
                background-color: $colourDB32SteelGreyOpacity50;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin: 8px;
                width: 100%;

                img {
                    height: 48px;
                    margin: 4px;
                }
    
                div {
                    color: white;
                    margin: 16px;
                    font-size: 1.6rem;
                    user-select: none;

                    &.warning {
                        color: $colourDB32Orange;
                    }
                }
            }

            .button {
                margin: 8px;
                padding-top: 16px;
                padding-bottom: 16px;
                user-select: none;
                color: $colourDB32VeryDarkPurple;
                width: 100%;

                &:hover {
                    filter: brightness(120%);
                }

                &.accept {
                    background-color: $colourDB32Green;
                }

                &.warning {
                    background-color: $colourDB32GreyOpacity50;
                    color: $colourDB32SteelGrey;
                    filter: brightness(100%);
                }
            }
        }
    }
}