.meters {
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    pointer-events: none;
}

.meter {
    position: relative;
    display: flex;
    user-select: none;
}

.meter-counter {
    width: 16px;
    height: 16px;
    padding: 1px;
    margin-top: 12px;
}
