@import '../../../shared/Variables';

.news-cont {
  display: grid;
  width: 91%;
  padding-bottom: 1vw;
  border: $colourDB32White solid 0.3vw;
  background-color: $colourDB32VeryDarkPurple;
  color: $colourDB32White;
  cursor: pointer;
  font-weight: bold;
  justify-items: center;
  text-align: center;
  user-select: none;

  &:hover {
    filter: brightness(110%);
    transform: scale(1.05);
  }
}

.news-header {
  padding: 10px;
  margin: 0;
  font-size: 2vw;
}

.news-date {
  margin: 0;
  font-size: 1.5vw;
}

.news-title {
  font-size: 1.5vw;
}

.news-image {
  width: 90%;
  user-select: none;
}
