.dungeon-keys-cont {
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    text-align: center;
    user-select: none;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    -webkit-text-stroke: 1px #222034;

    .list {
        display: inline-flex;
        background-color: #ffffff40;
        border: 2px black solid;
        padding: 4px;

        .icon {
            width: 48px;
            height: 48px;
        }
    }
}