@import "../../../../../shared/Variables";
// change font if needed
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.chat-container * {
  margin: 0;
  padding: 0;
}

.chat-container {
  font-family: "Roboto", sans-serif;
  width: 30vw;
  min-width: 360px;
  position: absolute;
  top: 270px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 0.7;

  .chat-contents {
    background-color: rgba(64, 64, 64, 0.8);
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 0.5rem; // gap between chats
    height: 35vh;
    min-height: 200px;
  }

  .chat-contents::-webkit-scrollbar {
    width: 8px;
  }

  .chat-input-container {
    display: flex;

    .chat-input {
      opacity: 0.9;
      flex-grow: 1;
      background-color: black;
      border: none;
      outline: none;
      font-size: 1.1rem;
      letter-spacing: 0.05rem;

      &.disabled {
        cursor: not-allowed;
      }
    }

    .arrow {
      font-weight: lighter;
      opacity: 0.7;
    }

    .scope-label {
      font-size: 1rem;
      font-weight: lighter;
    }

    .player-name {
      opacity: 0.8;
      cursor: pointer;
      display: inline-block;
      background-color: black;
      margin: 0;
      font-weight: bold;
      padding: 0.25rem 0.25rem 0.25rem 1px;
      user-select: none;
    }

    .player-name:hover {
      opacity: 1;
    }

    .send-btn {
      background-color: transparent;
      outline: none;
      border: none;
      min-width: 48px;
      max-height: 27px;
      width: 10%;
      cursor: pointer;
    }

    .send-btn-icon {
      height: 100%;
      width: 100%;
    }

    .send-btn:active {
      transform: scale(0.9);
    }
  }

  // Scope colors
  .all {
    color: $chatGeneralScope;
  }

  .local {
    color: $chatLocalScope;
  }

  .global {
    color: $chatGlobalScope;
  }

  .trade {
    color: $chatTradeScope;
  }
}

.chat-container:focus-within, .chat-container:hover {
  opacity: 1;
}
