@import "../../../../../shared/Variables";
// change font if needed
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.chat-container * {
  margin: 0;
  padding: 0;
}

.chat-container {
  font-family: "Roboto", sans-serif;
  width: 30vw;
  min-width: 360px;
  position: absolute;
  top: 264px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 0.7;

  .chat-tabs-container {
    display: flex;
    justify-content: flex-end;
    gap: 0.25rem;
  }

  .chat-tab {
    cursor: pointer;
    user-select: none;
    opacity: 0.8;
    background-color: rgb(48, 48, 48);
    padding: 0.5rem;
    border-radius: 5px 5px 0 0;
    font-size: 11px;
    font-weight: bold;
  }

  .chat-tab:hover {
    opacity: 1;
  }

  .chat-contents {
    background-color: rgba(64, 64, 64, 0.8);
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    max-height: 25vh;
    overflow-y: scroll;
    gap: 0.5rem; // gap between chats
    height: 30vh;
    min-height: 200px;
  }

  .chat-contents::-webkit-scrollbar {
    width: 8px;
  }

  .chat-box-container {
    display: flex;

    .chat-box-input {
      opacity: 0.9;
      flex-grow: 1;
      background-color: black;
      color: white;
      border: none;
      outline: none;
      font-size: 1.1rem;
      letter-spacing: 0.05rem;
    }

    .player-name {
      opacity: 0.8;
      cursor: pointer;
      display: inline-block;
      background-color: black;
      margin: 0;
      font-weight: bold;
      padding: 0.25rem 0.1rem 0.25rem 1rem;
      user-select: none;
    }

    .player-name:hover {
      opacity: 1;
    }
  }

  // Scope colors
  .local {
    color: $chatLocalScope;
  }

  .global {
    color: $chatGlobalScope;
  }

  .trade {
    color: $chatTradeScope;
  }
}

.chat-container:focus-within, .chat-container:hover {
  opacity: 1;
}
