$colourDB32Black: #000;
$colourDB32VeryDarkPurple: #222034;
$colourDB32DarkPurple: #45283c;
$colourDB32DarkBrown: #663931;
$colourDB32LightBrown: #8f563b;
$colourDB32Orange: #df7126;
$colourDB32DarkTan: #d9a066;
$colourDB32LightTan: #eec39a;
$colourDB32Yellow: #fbf236;
$colourDB32LimeGreen: #99e550;
$colourDB32Green: #6abe30;
$colourDB32Teal: #37946e;
$colourDB32MurkyGreen: #4b692f;
$colourDB32DarkMurkyGreen: #524b24;
$colourDB32DarkTurquoise: #323c39;
$colourDB32DarkBlurple: #3f3f74;
$colourDB32PrussianBlue: #306082;
$colourDB32Blurple: #5b6ee1;
$colourDB32LightBlue: #639bff;
$colourDB32Cyan: #5fcde4;
$colourDB32SkyBlue: #cbdbfc;
$colourDB32White: #fff;
$colourDB32SteelGrey: #9badb7;
$colourDB32IronGrey: #847e87;
$colourDB32Grey: #696a6a;
$colourDB32DarkGrey: #595652;
$colourDB32Purple: #76428a;
$colourDB32Red: #ac3232;
$colourDB32Rose: #d95763;
$colourDB32Pink: #d77bba;
$colourDB32LightKhaki: #8f974a;
$colourDB32DarkKhaki: #8a6f30;

$colourDB32WhiteOpacity80: rgba(255, 255, 255, 0.8);
$colourDB32WhiteOpacity50: rgba(255, 255, 255, 0.5);
$colourDB32GreyOpacity50: rgba(105, 106, 106, 0.5);
$colourDB32SteelGreyOpacity50: rgba(155, 173, 183, 0.5);
$colourDB32SteelGreyOpacity80: rgba(155, 173, 183, 0.8);
$colourDB32IronGreyOpacity80: rgba(132, 126, 135, 0.8);
$colourDB32IronGreyOpacity50: rgba(132, 126, 135, 0.5);
$colourDB32VeryDarkPurpleOpacity80: rgba(34, 32, 52, 0.8);
$colourDB32VeryDarkPurpleOpacity50: rgba(34, 32, 52, 0.5);
$colourDB32LightBlueOpacity50: rgba(99, 155, 255, 0.5);
$colourDB32CyanOpacity50: rgba(95, 205, 228, 0.5);
$colourDB32LightTanOpacity80: rgba(238,195,154, 0.8);
$colourDB32OrangeOpacity50: rgba(223, 113, 38, 0.5);
$colourDB32YellowOpacity50: rgba(251, 242, 54, 0.5);

// $cursorHand: url('../assets/images/gui/cursors/hand-cursor.png') 8 0, auto;

$currentlyDragged: rgba(255, 171, 0, 0.5);
$validDropTarget: rgba(146, 255, 236, 0.25);
$validDropTargetOver: rgba(140, 203, 255, 0.75);
$invalidDropTarget: rgba(255, 34, 0, 0.5);
$currentlySelected: rgba(251, 242, 54, 0.5);
$white80Percent: rgba(255, 255, 255, 0.8);
$shopSelected: rgba(153, 229, 80, 0.8);
$bankSlotOccupied: rgba(255, 255, 255, 0.5);
$bankSlotEmpty: rgba(105, 106, 106, 0.5);

// chats scope colors
$chatLocalScope: #f4f4f4;
$chatGlobalScope: #7fe3fd;
$chatTradeScope: #fcda53;
