@import "../../../shared/Variables.scss";

.partners-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 85%;
  border: $colourDB32White 0.3vw solid;
  background-color: $colourDB32VeryDarkPurple;
  text-align: center;
  transform: translate(-50%, -50%);
  user-select: none;

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 13px;
    background-color: $colourDB32White;
    cursor: $cursorHand;
    font-size: 2vw;
  
    &:hover {
      background-color: $colourDB32VeryDarkPurple;
      color: $colourDB32White;
    }
  }

  .header {
    padding: 24px;
    background-color: $colourDB32White;
    color: $colourDB32VeryDarkPurple;
    font-size: 1.5vw;
    font-weight: bold;
  }

  .their-logo {
    width: 75%;
    padding: 20px;
  }

}