$colourDB32Black: #000;
$colourDB32VeryDarkPurple: #222034;
$colourDB32DarkPurple: #45283c;
$colourDB32DarkBrown: #663931;
$colourDB32LightBrown: #8f563b;
$colourDB32Orange: #df7126;
$colourDB32DarkTan: #d9a066;
$colourDB32LightTan: #eec39a;
$colourDB32Yellow: #fbf236;
$colourDB32LimeGreen: #99e550;
$colourDB32Green: #6abe30;
$colourDB32Teal: #37946e;
$colourDB32MurkyGreen: #4b692f;
$colourDB32DarkMurkyGreen: #524b24;
$colourDB32DarkTurquoise: #323c39;
$colourDB32DarkBlurple: #3f3f74;
$colourDB32PrussianBlue: #306082;
$colourDB32Blurple: #5b6ee1;
$colourDB32LightBlue: #639bff;
$colourDB32Cyan: #5fcde4;
$colourDB32SkyBlue: #cbdbfc;
$colourDB32White: #fff;
$colourDB32SteelGrey: #9badb7;
$colourDB32IronGrey: #847e87;
$colourDB32Grey: #696a6a;
$colourDB32DarkGrey: #595652;
$colourDB32Purple: #76428a;
$colourDB32Red: #ac3232;
$colourDB32Rose: #d95763;
$colourDB32Pink: #d77bba;
$colourDB32LightKhaki: #8f974a;
$colourDB32DarkKhaki: #8a6f30;

$colourDB32WhiteOpacity80: rgba(255, 255, 255, 0.8);
$colourDB32WhiteOpacity50: rgba(255, 255, 255, 0.5);
$colourDB32GreyOpacity50: rgba(105, 106, 106, 0.5);
$colourDB32SteelGreyOpacity50: rgba(155, 173, 183, 0.5);
$colourDB32SteelGreyOpacity80: rgba(155, 173, 183, 0.8);
$colourDB32IronGreyOpacity80: rgba(132, 126, 135, 0.8);

$cursorHand: url('./assets/images/gui/hud/hand-cursor.png') 8 0, auto;
