@import "../../../../../shared/Variables";

.change-name-panel {
    background-color: $colourDB32IronGreyOpacity80;

    .inner-cont {
        background-color: $colourDB32VeryDarkPurpleOpacity50;
        color: $colourDB32Black;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow-y: auto;
        
        &.name-changed {
            justify-content: center;
        }

        .name-cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 16px;

            .heading {
                color: white;
                font-size: 1.6rem;
                font-weight: bold;
                -webkit-text-stroke: 1.4px black;
            }

            .name {
                width: 80%;
                max-width: 600px;
                font-size: 1.4rem;
                text-align: center;
                font-weight: bold;
                font-family: 'Press Start 2P', cursive;
                letter-spacing: 0.1em;
                border: $colourDB32Black solid 8px;
                padding: 10px;
    
                &.current {
                    background-color: $colourDB32White;
                    color: $colourDB32Black;
                    opacity: 0.4;
                }
        
                &.new {
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }

        .cost {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-top: 16px;

            img {
                height: 48px;
                margin: 4px;
            }

            div {
                color: white;
                margin: 8px;
                font-size: 1.8rem;
                user-select: none;

                &.warning {
                    color: $colourDB32Orange;
                }
            }
        }

        .accept-button-cont {
            position: relative;
            height: 64px;
            margin-top: 4px;

            &:hover {
                filter: brightness(150%);
                transform: scale(1.1);
            }

            .accept-button-text {
                position: absolute;
                width: 57%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.2rem;
                font-weight: bold;
                color: $colourDB32VeryDarkPurple;
            }

            .accept-button {
                height: 100%;
                max-width: 100%;
            }
        }
    
        .warning-text {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            max-width: 600px;
            background-color: orange;
            border: 4px solid black;
            padding: 10px;
            margin-top: 8px;
    
            &.name-changed {
                background-color: lime;
                margin-top: 0;
            }
        }
        
        .input::-webkit-input-placeholder {
            font-size: 16px;
        }
    }
}