@import "../../../../../shared/Variables";

.chat-tabs-container {
  display: flex;
  gap: 0.25rem;

  .chat-tab {
    cursor: $cursorHand;
    user-select: none;
    opacity: 0.8;
    background-color: rgb(48, 48, 48);
    padding: 0.5rem;
    border-radius: 5px 5px 0 0;
    font-size: 11px;
    font-weight: bold;

    &.active {
      opacity: 1;
      border-top-width: 3px;
      border-top-style: solid;

      // active tab colors
      &.all {
        border-top-color: $chatGeneralScope;
      }

      &.local {
        border-top-color: $chatLocalScope;
      }

      &.global {
        border-top-color: $chatGlobalScope;
      }

      &.trade {
        border-top-color: $chatTradeScope;
      }
    }
  }

  .chat-tab:hover {
    opacity: 1;
  }
}
