@import "../../../../../shared/Variables";

$taskSlotUnselected: #222034;
$taskSlotSelected: #df7126;
$taskSlotDefault: #ffffff;
$taskSlotTracking: #639bff;
$taskSlotCompleted: #6abe30;

.dungeon-panel {

    .inner-cont {
        height: 100%;
        display: grid;
        grid-template-rows: 11% 3% 15% 3% auto;
        text-align: center;
        color: $colourDB32Black;

        .name {
            background-color: $colourDB32IronGreyOpacity80;
            height: 100%;
            width: 100%;
            display: grid;
            align-items: end;
            justify-content: center;
            font-weight: bold;
            font-size: 16px;
        }

        .details-cont {
            display: grid;
            grid-template-columns: auto 3% auto 3% auto;

            .details-cont-item {
                background-color: $colourDB32SteelGreyOpacity80;
                padding: 4px;
            }
            
            .details-heading {
                font-weight: bold;
                font-size: 10px;
                align-self: end;
            }

            .details-text {

            }
        }

        .cost-cont {
            display: grid;
            grid-template-columns: 15% auto;
            align-items: center;

            .cost-icon {
                width: 100%;
                padding-left: 14px;
            }
        }

        .bottom-cont {
            position: relative;
            background-color: $colourDB32VeryDarkPurple;
        }

        .create-button-cont {
            height: 100%;
            left: 50%;
            top: 50%;
            margin-top: 6px;
            user-select: none;
            cursor: $cursorHand;
            &:hover {
                filter: brightness(150%);
                transform: translate(-50%, -50%) scale(1.1);
            }

            .create-button {
                height: 100%;
                left: 50%;
                top: 50%;
            }

            .button-text {
                left: 50%;
                top: 50%;
                font-size: 16px;
                color: $colourDB32VeryDarkPurple;
            }

        }

        .party-selection-cont {
            display: grid;
            grid-template-rows: 6% auto 12%;
            background-color: $colourDB32SteelGreyOpacity80;
            height: 100%;
        }

        .parties-cont {
            overflow: auto;
            overflow-x: hidden;
        }

        .party-cont {
            display: grid;
            grid-template-rows: 6% auto 12%;
            background-color: $colourDB32SteelGreyOpacity80;
            height: 100%;
        }

        .party-button-cont {
            position: relative;
            display: grid;
            align-items: center;
            justify-items: center;
        
            height: 100%;
            left: 50%;
            top: 50%;
            margin-top: 6px;
            transform: translate(-50%, -50%);
            user-select: none;
            cursor: $cursorHand;
            &:hover {
                filter: brightness(150%);
                transform: translate(-50%, -50%) scale(1.1);
            }
        }

        .party-button {
            height: 100%;
        }

        .party-members {
            overflow: auto;
        }

        .party-bottom-cont {
            position: relative;
            background-color: $colourDB32VeryDarkPurple;
            display: grid;
            grid-template-columns: 50% 50%;
        }

        .party-button-text {
            position: absolute;
        }

        .party-member-slot-cont {
            background-color: $colourDB32VeryDarkPurple;
            display: grid;
            grid-template-columns: 1fr auto;
            text-align: center;
            align-items: center;
            grid-gap: 4px;
            font-size: 14px;
            margin: 8px;
            border-width: 4px;
            border-style: solid;
            border-color: $colourDB32VeryDarkPurple;
        }

        .list-slot {
            height: auto;
            padding: 7px;
            background-color: $colourDB32White;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .party-kick-member-button-cont {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .party-kick-member-button {
            height: 100%;
            cursor: $cursorHand;
            &:hover {
                filter: brightness(150%);
                transform: scale(1.2);
            }
        }

        .party-slot-cont {
            cursor: $cursorHand;
            grid-gap: 0px;
            &:hover {
                filter: brightness(150%);
                transform: scale(1.03);
            }
        }
    }
}