@import '../../../shared/Variables.scss';

.gui {

  .top-left-corner-cont {
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transform-origin: top left;
  }

  .top-right-corner-cont {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    pointer-events: none;
    transform-origin: top right;
  }

  .bottom-right-corner-cont {
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 10px;
    pointer-events: none;
    transform-origin: bottom right;
  }

  .fps-counter {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #0000007d;
    padding: 8px;
    color: lime;
    font-size: 40px;
  }

  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-track {
    background: $colourDB32Grey;
  }

  ::-webkit-scrollbar-thumb {
    background: $colourDB32VeryDarkPurple;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $colourDB32DarkPurple;
  }
}

.gui-icon {
    width: 34px;
    height: 34px;
    padding: 4px;
    pointer-events: auto;
    user-select: none;

    &.interactive {
      &:hover {
          -webkit-filter: brightness(150%);
          filter: brightness(150%);
          transform: scale(1.2);
      }
    }
}
