
#clan_panel {
    visibility: hidden;
}

#clan_inner_cont {
    display: grid;
    height: 100%;
    grid-template-rows: 86% auto;
    background-color: $colourDB32VeryDarkPurple;
}

#clan_top_cont {
    height: 100%;
    display: grid;
    grid-template-columns: 64% auto;
    grid-gap: 12px;
}

#clan_member_list {
    overflow: auto;
    overflow-x: hidden;
    padding: 10px;
    padding-top: 22px;
    text-align: center;
    background-color: $colourDB32SteelGrey;
}

.clan_member_text {
    font-size: 14px;
    white-space: nowrap;
    padding: 6px;
    margin: 6px 0 6px 6px;
    cursor: $cursorHand;
    &:hover {
        font-weight: bold;
        filter: brightness(150%);
        transform: scale(1.1);
    }
}

.clan_member_text_selected {
    font-size: 14px;
    white-space: nowrap;
    padding: 6px;
    margin: 6px 0 6px 6px;
    background-color: $colourDB32DarkGrey;
    color: $colourDB32White;
    cursor: $cursorHand;
    &:hover {
        font-weight: bold;
        filter: brightness(150%);
    }
}

#clan_details_cont {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: repeat(5, 20%);
    align-items: center;
    justify-items: center;
    padding: 6px;
    background-color: $colourDB32IronGrey;
}

.clan_details_icon {
    width: 100%;
}

.clan_details_text {

}

#clan_bottom_cont {
    display: grid;
    grid-template-columns: 25% 25% auto 25%;
    grid-gap: 12px;
    align-items: center;
    justify-items: center;
    padding: 8px;
    padding-top: 26px;
}

.clan_bottom_button_cont {
    position: relative;
    width: 100%;
    user-select: none;
    cursor: $cursorHand;
    &:hover {
        filter: brightness(150%);
        transform: scale(1.1);
    }
}

.clan_bottom_button {
    width: 100%;
    left: 50%;
    top: 50%;
}

.clan_bottom_text {
    left: 50%;
    top: 50%;
    font-size: 10px;
}