
#dungeon_panel {
    visibility: hidden;
}

#dungeon_inner_cont {
    background-color: $colourDB32VeryDarkPurple;
    height: 100%;
    display: grid;
    grid-template-rows: 10% auto 10%;
    grid-gap: 12px;
    text-align: center;
}

#dungeon_name {
    background-color: $colourDB32IronGrey;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: end;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
}

#dungeon_info_cont {
    height: 100%;
    display: grid;
    grid-template-columns: 50% auto;
    grid-gap: 12px;
}

#dungeon_details_cont {
    background-color: $colourDB32SteelGrey;
    display: grid;
    grid-template-rows: repeat(6, 20%);
    align-items: center;
}

.dungeon_details_heading {
    font-weight: bold;
    font-size: 15px;
    align-self: end;
}

.dungeon_details_text {

}

#dungeon_cost_cont {
    display: grid;
    grid-template-columns: 15% auto;
    align-items: center;
}

#dungeon_cost_icon {
    width: 100%;
    padding-left: 40px;
}

#dungeon_warning_cont {
    display: grid;
    background-color: $colourDB32Rose;
}

#dungeon_warning_heading {
    font-weight: bold;
    font-size: 18px;
    align-self: center;
}

#dungeon_bottom_cont {
    position: relative;
}

#dungeon_enter_button_cont {
    height: 120%;
    left: 50%;
    top: 50%;
    user-select: none;
    cursor: $cursorHand;
    &:hover {
        filter: brightness(150%);
        transform: translate(-50%, -50%) scale(1.1);
    }
}

#dungeon_enter_button {
    height: 100%;
    left: 50%;
    top: 50%;
}

#dungeon_enter_text {
    left: 50%;
    top: 50%;
    font-size: 16px;
    color: $colourDB32VeryDarkPurple;
}