
#dungeon_panel {
    visibility: hidden;
}

#dungeon_inner_cont {
    height: 100%;
    display: grid;
    grid-template-rows: 11% 3% 15% 3% auto;
    text-align: center;
}

#dungeon_name {
    background-color: $colourDB32IronGreyOpacity80;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: end;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
}

#dungeon_details_cont {
    display: grid;
    grid-template-columns: auto 3% auto 3% auto;
}

.dungeon_details_cont_item {
    background-color: $colourDB32SteelGreyOpacity80;
    padding: 4px;
}

.dungeon_details_heading {
    font-weight: bold;
    font-size: 10px;
    align-self: end;
}

.dungeon_details_text {

}

#dungeon_cost_cont {
    display: grid;
    grid-template-columns: 15% auto;
    align-items: center;
}

#dungeon_cost_icon {
    width: 100%;
    padding-left: 14px;
}

.dungeon_bottom_cont {
    position: relative;
    background-color: $colourDB32VeryDarkPurple;
}

.dungeon_create_button_cont {
    height: 100%;
    left: 50%;
    top: 50%;
    margin-top: 6px;
    user-select: none;
    cursor: $cursorHand;
    &:hover {
        filter: brightness(150%);
        transform: translate(-50%, -50%) scale(1.1);
    }
}

#dungeon_create_button {
    height: 100%;
    left: 50%;
    top: 50%;
}

.dungeon_button_text {
    left: 50%;
    top: 50%;
    font-size: 16px;
    color: $colourDB32VeryDarkPurple;
}

#dungeon_party_selection_cont {
    display: grid;
    grid-template-rows: 6% auto 12%;
    background-color: $colourDB32SteelGreyOpacity80;
    height: 100%;
}

#dungeon_parties_cont {
    overflow: auto;
    overflow-x: hidden;
}

#dungeon_party_cont {
    display: grid;
    grid-template-rows: 6% auto 12%;
    background-color: $colourDB32SteelGreyOpacity80;
    height: 100%;
}

.dungeon_party_button_cont {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;

    height: 100%;
    left: 50%;
    top: 50%;
    margin-top: 6px;
    transform: translate(-50%, -50%);
    user-select: none;
    cursor: $cursorHand;
    &:hover {
        filter: brightness(150%);
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.dungeon_party_button {
    height: 100%;
}

#dungeon_party_members {
    overflow: auto;
}

.dungeon_party_bottom_cont {
    position: relative;
    background-color: $colourDB32VeryDarkPurple;
    display: grid;
    grid-template-columns: 50% 50%;
}

.dungeon_party_button_text {
    position: absolute;
}

.dungeon_party_member_slot_cont {
    background-color: $colourDB32VeryDarkPurple;
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: center;
    align-items: center;
    grid-gap: 4px;
    font-size: 14px;
    margin: 8px;
    border-width: 4px;
    border-style: solid;
    border-color: $colourDB32VeryDarkPurple;
}

.dungeon_party_kick_member_button_cont {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dungeon_party_kick_member_button {
    height: 100%;
    cursor: $cursorHand;
    &:hover {
        filter: brightness(150%);
        transform: scale(1.2);
    }
}

.dungeon_party_slot_cont {
    cursor: $cursorHand;
    grid-gap: 0px;
    &:hover {
        filter: brightness(150%);
        transform: scale(1.03);
    }
}