
#game_over_panel {
    visibility: hidden;
}

#game_over_inner_cont {
    background-color: $colourDB32VeryDarkPurple;
    height: 100%;
    display: grid;
    grid-template-rows: 60% auto;
    grid-gap: 12px;
    text-align: center;
}

#game_over_main_cont {
    background-color: $colourDB32Rose;
    height: 100%;
    display: grid;
    align-items: center;
}

#game_over_info {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

#game_over_bottom_cont {
    position: relative;
}

#game_over_button_cont {
    height: 80%;
    left: 50%;
    top: 50%;
    user-select: none;
    cursor: $cursorHand;
    &:hover {
        filter: brightness(150%);
        transform: translate(-50%, -50%) scale(1.1);
    }
}

#game_over_button {
    height: 100%;
    left: 50%;
    top: 50%;
}

#game_over_text {
    left: 50%;
    top: 50%;
    font-size: 16px;
    font-weight: bold;
    color: $colourDB32VeryDarkPurple;
}