// Inventory bar.
#inventory_bar {
  position: absolute;
  display: inline-grid;
  grid-template-columns: repeat(10, 56px);
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.inventory_slot {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  pointer-events: auto;
  user-select: none;
  cursor: $cursorHand;
  &:hover {
    filter: brightness(120%);
    transform: scale(1.1);
  }
}

.inventory_slot_border {
  position: absolute;
  width: 48px;
  height: 48px;
  pointer-events: none;
}

.inventory_slot_add_button {
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 54px;
  pointer-events: auto;
  &:hover {
    filter: brightness(120%);
    transform: scale(1.1);
  }
}

.inventory_slot_equipped {
  position: absolute;
  bottom: 44px;
  width: 48px;
  object-fit: contain;
  visibility: hidden;
  pointer-events: none;
}

.inventory_slot_durability {
  position: absolute;
  bottom: 6px;
  width: 48px;
  object-fit: contain;
  visibility: hidden;
  pointer-events: none;
}

.inventory_slot_icon {
  position: absolute;
  width: 48px;
  height: 48px;
  visibility: hidden;
  pointer-events: none;
}

#inventory_message {
  position: absolute;
  width: 100%;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 24px;
  color: $colourDB32White;
  background-color: $colourDB32VeryDarkPurple;
  padding: 10px;
  user-select: none;
}

#item_tooltip_cont {
  position: absolute;
  visibility: hidden;
  bottom: 146px;
  left: 50%;
  width: 75%;
  transform: translateX(-50%);
  text-align: center;
  color: $colourDB32White;
  background-color: $colourDB32VeryDarkPurple;
  padding: 8px;
  user-select: none;
  pointer-events: none;
}

#item_name {
  font-weight: bold;
  font-size: 20px;
}