
.panel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.panel_header {
  position: relative;
}

.panel_name {
  height: 20px;
  width: 50%;
  float: left;
  text-align: center;
  font-size: 20px;
  padding: 4px 4px 12px 4px;
  font-weight: bold;
  font-family: 'Press Start 2P';
  letter-spacing: 0.1em;
  color: $colourDB32VeryDarkPurple;
  background-color: $colourDB32WhiteOpacity80;
  user-select: none;
}

.panel_tooltip {
  position: absolute;
  left: 270px;
  bottom: 0px;
  text-align: center;
  font-size: 26px;
  padding: 4px 12px 4px 12px;
  margin-bottom: 10px;
  font-family: 'Press Start 2P';
  letter-spacing: 0.1em;
  color: $colourDB32VeryDarkPurple;
  background-color: $colourDB32WhiteOpacity80;
  user-select: none;
  visibility: hidden;
}

#game_over_prompt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $colourDB32WhiteOpacity80;
  text-align: center;
  font-family: 'Press Start 2P';
  letter-spacing: 0.1em;
  color: $colourDB32DarkBlurple;
  padding: 10px;
  visibility: hidden;
}

#game_over {
  font-size: 40px;
  font-weight: bolder;
  padding: 10px;
}

#game_over_message {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

#play_again_button {
  background-color: $colourDB32Teal;
  left: 50%;
  margin: 16px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
  font-weight: bolder;
  font-size: 40px;
  color: #ffffff;
}
#play_again_button:hover {
  background-color: $colourDB32Green;
}
