
#respawn_panel {
    visibility: hidden;
}

#respawn_inner_cont {
    background-color: $colourDB32VeryDarkPurple;
    height: 100%;
    display: grid;
    grid-template-rows: 60% auto;
    grid-gap: 12px;
    text-align: center;
}

#respawn_main_cont {
    background-color: $colourDB32SteelGrey;
    height: 100%;
    display: grid;
    align-items: center;
}

#respawn_info {
    align-self: end;
    font-size: 14px;
    font-weight: bold;
}

#respawns_value_text {
    font-size: 40px;
    font-weight: bold;
}

#respawn_bottom_cont {
    position: relative;
}

#respawn_button_cont {
    height: 80%;
    left: 50%;
    top: 50%;
    user-select: none;
    cursor: $cursorHand;
    &:hover {
        filter: brightness(150%);
        transform: translate(-50%, -50%) scale(1.1);
    }
}

#respawn_button {
    height: 100%;
    left: 50%;
    top: 50%;
}

#respawn_text {
    left: 50%;
    top: 50%;
    font-size: 16px;
    font-weight: bold;
    color: $colourDB32VeryDarkPurple;
}