
#shop_panel {
    visibility: hidden;
}

#shop_tooltip {
    position: absolute;
    max-width: 250px;
    color: $colourDB32White;
    text-align: center;
    font-size: 12px;
    background-color: $colourDB32VeryDarkPurple;
    padding: 6px;
    top: 0%;
}

.shop_tooltip_left {
    transform: translate(0%, 0%);
    left: 100%;
}

.shop_tooltip_right {
    transform: translate(-100%, 0%);
    left: 0%;
}

#shop_contents {
    background-color: $colourDB32SteelGreyOpacity80;
    display: grid;
    height: 81%;
    overflow: auto;
    overflow-x: hidden;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(4, 25%);
    padding: 16px;
}

.shop_item_cont {
    background-color: $colourDB32WhiteOpacity80;
    user-select: none;
    margin: 8px;
    border: 4px solid $colourDB32VeryDarkPurple;
    cursor: $cursorHand;
    &:hover {
        filter: brightness(150%);
        transform: scale(1.1);
    }
}

.shop_item {
    height: 60px;
    margin: -4px;
    pointer-events: none;
    padding: 4px;
}

.shop_price_cont {
    height: 50px;
}

.shop_glory_icon {
    height: 20px;
}

.shop_price {
    color: $colourDB32DarkPurple;
    margin: 6px;
}

#shop_bottom_cont {
    position: relative;
    height: 15%;
    background-color: $colourDB32VeryDarkPurple;
}

.shop_buy_button_cont {
    height: 75%;
    left: 50%;
    top: 50%;
    user-select: none;
    cursor: $cursorHand;
    &:hover {
        filter: brightness(150%);
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.shop_buy_button {
    height: 100%;
    left: 50%;
    top: 50%;
}

.shop_buy_text {
    left: 50%;
    top: 50%;
    font-size: 20px;
    color: $colourDB32VeryDarkPurple;
}