
#spell_bar {
    visibility: hidden;
    position: absolute;
    width: 400px;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
}

#spell_slots_cont {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    align-items: center;
    justify-items: center;
}

#spell_tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 120%;
    transform: translateX(-50%);
    text-align: center;
    color: $colourDB32White;
    background-color: $colourDB32VeryDarkPurple;
    padding: 8px;
    user-select: none;
    pointer-events: none;
}

#spell_tooltip_name {
    font-weight: bolder;
    font-size: 28px;
}

#spell_tooltip_description {
    padding-left: 10px;
    padding-right: 10px;
}

.spell_slot_cont {
    position: relative;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: $cursorHand;
    &:hover {
        filter: brightness(150%);
        transform: scale(1.1);
    }
}

.spell_slot_icon {
    position: absolute;
    width: 60%;
    user-select: none;
}

.spell_slot_border {
    position: absolute;
    width: 80%;
    user-select: none;
}
