
#tasks_panel {
    visibility: hidden;
}

#tasks_panel_tooltip {
    position: absolute;
    width: 150px;
    color: $colourDB32White;
    text-align: center;
    font-size: 12px;
    background-color: $colourDB32VeryDarkPurple;
    padding: 6px;
    top: 50%;
    transform: translate(-100%, 0%);
    left: 50%;
}

#tasks_inner_cont {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 3% auto 13%;
}

#tasks_headings_cont {
    background-color: $colourDB32IronGreyOpacity80;
    display: grid;
    grid-template-columns: 28% 41% auto;
    text-align: center;
    align-items: end;
    justify-items: center;
    grid-gap: 16px;
    font-weight: bold;
}

#tasks_list_cont {
    background-color: $colourDB32SteelGreyOpacity50;
    overflow: auto;
}

#tasks_bottom_cont {
    background-color: $colourDB32VeryDarkPurple;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto 50%;
    padding-top: 17px;
}

.tasks_bottom_button_cont {
    position: relative;
    width: 55%;
    user-select: none;
    cursor: $cursorHand;
    &:hover {
        filter: brightness(150%);
        transform: scale(1.1);
    }
}

.tasks_bottom_button {
    width: 100%;
    left: 50%;
    top: 50%;
}

.tasks_bottom_text {
    left: 50%;
    top: 50%;
    font-size: 14px;
    color: $colourDB32VeryDarkPurple;
}

.task_slot_cont {
    background-color: $colourDB32VeryDarkPurple;
    display: grid;
    grid-template-columns: 42% 18% auto;
    text-align: center;
    align-items: center;
    grid-gap: 4px;
    font-size: 14px;
    margin: 8px;
    border-width: 4px;
    border-style: solid;
    border-color: $colourDB32VeryDarkPurple;
    cursor: $cursorHand;
    &:hover {
        filter: brightness(150%);
        transform: scale(1.03);
    }
}

.task_slot_cell {
    height: 100%;
    background-color: $colourDB32White;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task_slot_task_name {
    height: auto;
    padding: 7px;
}

.task_reward_cont {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% auto;
    grid-gap: 4px;
    align-items: center;
    justify-items: center;
}

.task_reward_item_cont {
    position: relative;
    width: 100%;
}

.task_reward_item {
    visibility: hidden;
    width: 100%;
    &:hover {
        filter: brightness(150%);
        transform: scale(1.3);
    }
}

.task_glory_icon {
    width: 80%;
    pointer-events: none;
}