
.generic_tooltip {
    color: $colourDB32White;
    text-align: center;
    background-color: $colourDB32VeryDarkPurple;
    line-height: 1.2;
    padding: 8px;
    z-index: 1000;
    visibility: hidden;
}

.top_left_tooltip {
    position: absolute;
    margin-top: 20px;
    margin-left: 40px;
    width: 400px;
}

.top_right_tooltip {
    position: absolute;
    margin-top: 20px;
    margin-right: 40px;
    width: 400px;
    right: 0px;
}

.bottom_right_tooltip {
    position: absolute;
    margin-top: 20px;
    margin-right: 40px;
    width: 400px;
    right: 0px;
    transform: translateY(-100%);
}

#hitpoint_cont {
    position: relative;
}

#hitpoint_tooltip {
    bottom: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

#energy_cont {
    position: relative;
}

#energy_tooltip {
    bottom: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

#inventory_tooltip {
    position: absolute;
    width: 50%;
    bottom: 50px;
    right: 50%;
    transform: translateX(50%);
    margin-bottom: 30px;
}