
// Virtual D-pad.
#virtual_dpad {
    width: 100%;
    height: 100%;
    visibility: hidden;
    pointer-events: none;
    user-select: none;
}

#virtual_dpad_up {
    position: absolute;
    left: 50%;
    top: 25%;
    height: 10%;
    max-width: 20%;
    transform: translateX(-50%);
    pointer-events: auto;
}

#virtual_dpad_down {
    position: absolute;
    left: 50%;
    bottom: 25%;
    height: 10%;
    max-width: 20%;
    transform: translateX(-50%);
    pointer-events: auto;
}

#virtual_dpad_left {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 10%;
    max-height: 20%;
    transform: translateY(-50%);
    pointer-events: auto;
}

#virtual_dpad_right {
    position: absolute;
    right: 25%;
    top: 50%;
    width: 10%;
    max-height: 20%;
    transform: translateY(-50%);
    pointer-events: auto;
}

.virtual_dpad_hover:hover {
    -webkit-filter: brightness(150%);
}