@import '../../../shared/Variables.scss';

.gui {

  // .normal_cursor {
  //   cursor: url(./assets/img/gui/hud/normal-cursor.png), auto;
  // }

  // .hand_cursor {
  //     cursor: $cursorHand;
  // }

  // .attack_cursor {
  //     cursor: url(./assets/img/gui/hud/attack-cursor.png), auto;
  // }

  // position: absolute;
  // width: 100%;
  // height: 100%;
  // visibility: hidden;
  // // For some reason absolute positioned elements prevent cursor
  // // events going deeper through to the game canvas...
  // pointer-events: none;

  .high-contrast-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    -webkit-text-stroke: 1.5px black;
  }

  .top-left-corner-cont {
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transform-origin: top left;
  }

  .top-right-corner-cont {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    pointer-events: none;
    transform-origin: top right;
  }

  .bottom-right-corner-cont {
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 10px;
    pointer-events: none;
    transform-origin: bottom right;
  }

  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-track {
    background: $colourDB32Grey;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $colourDB32VeryDarkPurple;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $colourDB32DarkPurple;
  }
}

.gui-icon {
    width: 34px;
    height: 34px;
    padding: 4px;
    pointer-events: auto;
    user-select: none;

    &.interactive {
      &:hover {
          -webkit-filter: brightness(150%);
          filter: brightness(150%);
          transform: scale(1.2);
      }
    }
}