@import "../../../../shared/Variables";

.tooltip {
    position: absolute;
    text-align: center;
    color: $colourDB32White;
    background-color: $colourDB32VeryDarkPurple;
    line-height: 1.2;
    padding: 8px;
    pointer-events: none;
    z-index: 9999;
    
    &.right {
        transform: translateX(-100%);
        &.bottom {
            transform: translate(-100%, -100%);
        }
    }

    &.bottom {
        transform: translateY(-100%);
    }

    .tooltip-panel-button {
        width: 600px;
    }

    .tooltip-heading {
        font-weight: bold;
    }
}