@import "../../../../../shared/Variables";

.leave-dungeon-panel {
    .leave-dungeon-inner-cont {
        height: 100%;
        display: grid;
        grid-template-rows: 80% 20% auto;
        color: $colourDB32Black;
        background-color: $colourDB32VeryDarkPurpleOpacity80;

        .leave-dungeon-info-cont {
            height: 100%;
            padding: 30px;
            color: $colourDB32White;
        }

        .leave-dungeon-button-cont {
            position: relative;
            display: grid;
            align-items: center;
            justify-items: center;
        
            height: 100%;
            left: 50%;
            top: 50%;
            margin-top: 6px;
            transform: translate(-50%, -50%);
            user-select: none;
            cursor: $cursorHand;
            &:hover {
                filter: brightness(150%);
                transform: translate(-50%, -50%) scale(1.1);
            }
        }

        .leave-dungeon-button {
            height: 100%;
        }

        .leave-dungeon-bottom-cont {
            position: relative;
            background-color: $colourDB32VeryDarkPurple;
            display: grid;
            grid-template-columns: 50% 50%;
        }

        .leave-dungeon-button-text {
            position: absolute;
        }
    }
}
