@import '../shared/Variables';

img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-color: black;
}

#page-load {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #222034;
    color: white;
    font-family: 'Courier New', cursive;
    font-size: 3rem;
    font-weight: bold;
    overflow: hidden;
    user-select: none;
}

#page-load::after {
    display: inline-block;
    animation: dotty steps(1,end) 2s infinite;
    content: '';
}

@keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}

// TODO: remove? not being used, removed the GUI zoom stuff
.gui-scalable {
    zoom: 1;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
}

::placeholder {
    color: $colourDB32IronGrey;
}
  
@font-face {
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-weight: normal;
    src: url('../assets/fonts/PressStart2P-Regular.ttf');
}
  
.press-start-font {
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 0.1em;
    line-height: 1.2;
}
  
.normal-cursor {
    cursor: $cursorNormal;
}
  
.hand-cursor {
    cursor: $cursorHand;
}
  
.attack-cursor {
    cursor: $cursorAttack;
}

.high-contrast-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    -webkit-text-stroke: 1.5px black;
}

.leaflet-container {
    pointer-events: auto;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}

.leaflet-control-zoom {
    margin-top: 2rem;
}